
<div th:fragment="all">
    <div th:if="${readComments.size()>0}" class="comment" th:each="comm : ${readComments}">
        <table>
            <tr>
                <td class="left">
                    <a class="owner" th:href="@{'/user/' + ${comm.author.id}}">[[${comm.author.nickname}]]:</a>
                    <p class="description2" th:text="${comm.getDate()}"></p>
                    <p class="description2" th:utext="'Rating: ' + ${comm.rating} + '/10'"></p>
                </td>
                <td class="right">
                    <p class="description" th:text="${comm.message}"></p>
                </td>
            </tr>
        </table>
    </div>
</div>