<div th:fragment="addComm">
    <hr>
    <form th:action="@{/comments/new/__${eventId}__}" th:object="${newComment}" method="POST">
        <table class="inputTab">
            <tr>
                <td class="left">
                    Add Rating:
                </td>
                <td class="right">
                    <label>
                        <input type="radio" name="rating" value="1"> 1
                        <input type="radio" name="rating" value="2"> 2
                        <input type="radio" name="rating" value="3"> 3
                        <input type="radio" name="rating" value="4"> 4
                        <input type="radio" name="rating" value="5"> 5
                        <input type="radio" name="rating" value="6"> 6
                        <input type="radio" name="rating" value="7"> 7
                        <input type="radio" name="rating" value="8"> 8
                        <input type="radio" name="rating" value="9"> 9
                        <input type="radio" name="rating" value="10"> 10
                    </label>
                </td>
            </tr>
            <tr>
                <td class="left">
                    *Comment:<br>
                    <input type="submit" value="Add comment">
                </td>
                <td class="right">
                    <label>
                        <textarea id="dscr" name="message" placeholder="Type text here..."></textarea>
<!--                        th:field="*{message}"-->
<!--                        <span class="warn" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>-->
                    </label>
                </td>
            </tr>
        </table>
    </form>
</div>