<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">-->

<head>
    <meta charset="UTF-8">
    <title>Event list</title>
    <link rel="stylesheet" href="/css/event.css" th:href="@{/css/event.css}">
</head>

<body>
    <h3>Events list</h3>
    <div>
        <div>
            <div id="navig" th:replace="~{fragments/navi_bar :: navi_bar}"></div>
        </div>

        <div th:if="${result.size() > 0}">
            <table class="tableOne">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Cost (PLN)</th>
                    <th scope="col">Is active</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${result}">
                    <th scope="row">[[${event.id}]]</th>
                    <td><a th:href="@{'/event/' + ${event.id}}">[[${event.title}]]</a></td>
                    <td>[[${event.description}]]</td>
                    <td>[[${event.getDate}]]</td>
                    <td>[[${event.address}]]</td>
                    <td>[[${event.cost}]]</td>
                    <td>[[${event.active}]]
    <!--                <td>-->
    <!--                    <a th:if="${event.active == true}" class="fa-regular fa-square-check"-->
    <!--                       th:href="@{'/event/' + ${event.id} + '/active/false'}" title="Disable this event"></a>-->
    <!--                    <a th:if="${event.active == false}" class="fa-regular fa-square icon-dark"-->
    <!--                       th:href="@{'/event/' + ${event.id} + '/active/true'}" title="Enable this event"></a>-->
                    </td>
    <!--                <td>-->
    <!--                    <a th:href="@{'/tutorials/' + ${tutorial.id}}" title="Edit this tutorial"-->
    <!--                       class="fa-regular fa-pen-to-square icon-dark"></a>-->
    <!--                    &nbsp;-->
    <!--                    <a th:href="@{'/tutorials/delete/' + ${tutorial.id}}" th:tutorialTitle="${tutorial.title}" id="btnDelete"-->
    <!--                       title="Delete this tutorial" class="fa-regular fa-trash-can icon-dark btn-delete"></a>-->
    <!--                </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</html>