<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head th:replace="~{fragments/head :: head}"></head>

<body>
<div class="box">
    <h3>You need to log in Event Service!</h3>
    <div>
        <div id="navig" th:replace="~{fragments/navi_bar :: navi_bar}"></div>
        <form th:action="@{/login}" th:object="${loginDto}" method="POST">
            <table class="inputTab">
                <tr>
                    <td class="left">
                        Username:<br>
                    </td>
                    <td class="right">
                        <label>
                            <input type="text" name="username" th:field="*{username}">
                            <span class="warn" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        Password:<br>
                    </td>
                    <td class="right">
                        <label>
                            <input type="text" name="password" th:field="*{password}">
                            <span class="warn" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </label>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Log in">
        </form>
    </div>
</div>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>