<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<link rel="stylesheet" href="/css/global.css" th:href="@{/css/global.css}">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
    <div class="box">
        <h3>View user - [[${result.username}]]</h3>
        <div>
            <div id="navig" th:replace="~{fragments/navi_bar :: navi_bar}"></div>
            <div th:if="${result}">
                <table class="doubleTable">
                    <tr>
                        <td class="left">Nick:</td>
                        <td class="right">[[${result.username}]]</td>
                    </tr>
                    <tr>
                        <td class="left">First name:</td>
                        <td class="right">[[${result.firstname}]]</td>
                    </tr>
                    <tr>
                        <td class="left">Last name:</td>
                        <td class="right">[[${result.lastname}]]</td>
                    </tr>
                    <tr>
                        <td class="left">E-mail:</td>
                        <td class="right">[[${result.email}]]</td>
                    </tr>
                    <tr th:if="${result.myEvents.size()>0}">
                        <td class="left">Added Events:</td>
                        <td class="right">
                            <div class="comment" th:each="ev : ${result.myEvents}">
                                <a class="owner" th:href="@{'/events/' + ${ev.id}}">[[${ev.title}]]</a>
                                <p class="description" th:text="'Location: ' + ${ev.address}"></p>
                                <p class="description" th:text="'Date: ' + ${ev.getDateFormatted()}"></p>
                                <p class="description" th:text="${'Subscriptions: ' + ev.active}"></p>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${result.comments.size()>0}">
                        <td class="left">Added Comments:</td>
                        <td class="right">
                            <div class="comment" th:each="comm : ${result.comments}">
                                <a class="owner" th:href="@{'/events/' + ${comm.event.id}}">[[${comm.event.title}]]</a>
                                <span class="description2" th:text="' ('+${comm.getDateFormatted()}+')'"></span>
                                <p class="description" th:text="${comm.message}"></p>
                                <p class="description" th:text="'Rating: ' + ${comm.rating} + '/10'"></p>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr>
            </div>
        </div>
    </div>
<script>
    let s1 = document.getElementById("s1");
</script>
</body>

<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>