<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/global.css" th:href="@{/css/global.css}">
</head>

<body>
    <div class="box">
        <h3>View user - [[${result.username}]]</h3>
        <div>
            <div id="navig" th:replace="~{fragments/navi_bar :: navi_bar}"></div>
            <div th:if="${result}">
                <table class="doubleTable">
                    <tr>
                        <td class="left">Nick:</td>
                        <td class="right">[[${result.username}]]</td>
                    </tr>
                    <tr>
                        <td class="left">First name:</td>
                        <td class="right">[[${result.firstname}]]</td>
                    </tr>
                    <tr>
                        <td class="left">Last name:</td>
                        <td class="right">[[${result.lastname}]]</td>
                    </tr>
                    <tr>
                        <td class="left">E-mail:</td>
                        <td class="right">[[${result.email}]]</td>
                    </tr>
                    <tr th:if="${result.getMyEvents().size()>0}">
                        <td class="left">My Events:
                            <div th:if="${result.getMyEvents().size()>3}">
                                <form th:action="@{/events/all/__${result.getMyEvents().get(0).getOwnerId()}__}" method="GET">
                                    <input type="submit" id="button1" value="Show me all">
                                </form>
                            </div>
                        </td>
                        <td class="right">
                            <div class="comment" th:each="ev : ${result.getMyEvents().stream().limit(3)}">
                                <p>
                                    <a class="owner" th:href="@{/events/__${ev.id}__}">[[${ev.title}]]</a>
                                    <span class="description2" th:text="'Date: ' + ${ev.getDateFormatted()}"></span>
                                </p>
                                <p>
                                    <span class="description" th:text="'Location: ' + ${ev.address}"></span>
                                    <span class="description2" th:text="${'Subscriptions: ' + ev.getSubscriptions.size()}"></span>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${result.getComments().size()>0}">
                        <td class="left">My Comments:
                            <div th:if="${result.getComments().size()>3}">
                                <form th:action="@{/comments/read/user/__${result.getId()}__}" method="GET">
                                    <input type="submit" id="button2" value="Show me all">
                                </form>
                            </div>
                        </td>
                        <td class="right">
                            <div class="comment" th:each="comm : ${result.getComments().stream().limit(3)}">
                                <a class="owner" th:href="@{/events/__${comm.event.id}__}">[[${comm.event.title}]]</a>
                                <p>
                                    <span class="description" th:text="'Date: '+${comm.getDateFormatted()}"></span>
                                    <span class="description2" th:text="'Rating: ' + ${comm.rating} + '/10'"></span>
                                </p>
                                <p class="description" th:text="${comm.message}"></p>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${result.getSubscriptions().size()>0}">
                        <td class="left">My Subscriptions:
                            <div th:if="${result.getSubscriptions().size()>3}">
                                <form th:action="@{/events/all/__${result.getSubscriptions().get(0).getSubscriber().id}__}" method="GET">
                                    <input type="submit" id="button3" value="Show me all">
                                </form>
                            </div>
                        </td>
                        <td class="right">
                            <div class="comment" th:each="sub : ${result.getSubscriptions().stream().limit(3)}">
                                <p>
                                    <a class="owner" th:href="@{/events/__${sub.event.id}__}">[[${sub.event.title}]]</a>
                                    <span class="description2" th:text="'Date: '+${sub.event.getDateFormatted()}"></span>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr>
            </div>
        </div>
    </div>
<script type="module">
    import { ChangeBorderButton } from '/scripts/globalFunctions.js';

    let btn1 = document.getElementById("button1");
    let btn2 = document.getElementById("button2");
    let btn3 = document.getElementById("button3");

    ChangeBorderButton(btn1);
    ChangeBorderButton(btn2);
    ChangeBorderButton(btn3);

</script>
</body>

<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>